<div class="span6" id="form-login">
  <form class="form-horizontal well" method="post" action="">
    <fieldset>
      <legend>Admin Login</legend>
      <div class="control-group">
        <div class="control-label">
          <label>Username</label>
        </div>
        <div class="controls">
          <input type="text" name="username" placeholder="john.doe@youremail.com" class="input-large" />
        </div>
      </div>

      <div class="control-group">
        <div class="control-label">
          <label>Password</label>
        </div>
        <div class="controls">
          <input type="password" name="password" placeholder="******" class="input-large" />
        </div>
      </div>

      <div class="control-group">
        <div class="controls">

          <button type="submit" id="submit" class="btn btn-primary button-loading" data-loading-text="Loading...">Sign in</button>

          <button type="button" class="btn btn-secondary button-loading" data-loading-text="Loading...">Forgot Password</button>

        </div>
      </div>
    </fieldset>
  </form>
</div>