<% if(session[:username].present?) %>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Leads</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Accounts</a></li>
          <li><a href="#">Opportunities</a></li>
          <li><a href="#">Contracts</a></li>
          <% if(session[:userrole].present? && session[:userrole] == 1) %>
            <li class="dropdown" id="settingsmenu">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<b class="caret"></b></a>
              <ul class="dropdown-menu pull-right">
                <li><a href="#">Edit Profile</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a href="#">Users List</a></li>
                <li><a href="#">Create User</a></li>
                <li class="divider"></li>
                <li><%= link_to "Logout", logout_path %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<% end %>